body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to top, #C3D730, rgb(255, 255, 255));
    overflow-x: hidden;
}

.logo-img {
    height: 100px;
}

.navbar {
    background-color: #004a67;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .right {
    float: right;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #333;
}

.login-box {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.login-box .student-img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 1em;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px 0 10px 3px ;
}

.login-box button {
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.75em 1.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 102%;
}

.login-box button:hover {
    background-color: #005bb5;
}
